.footer {
  background-color: rgb(29, 67, 76);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 20px;
  letter-spacing: 3px;
  height: 350px;
}
.footer .links a {
  color: white;
  font-size: 20px;
}

.footer .social-links i {
  color: white;
}

.footer .social-links i:hover {
  color: aquamarine;
}
